.film-calendar img {
    width: 94px;
    height: 72px;
    object-fit: contain;
    margin: 0 0 0 0;
}
.film-calendar td {
    padding: 0 0 0 0;
}
.film-table td {
    font-size: 1.1em;
    padding: 2px 10px 2px 10px;
    font-weight: bold;
}