body {
    background-color: gray;
    padding: 0% 0% 0% 0%;
    margin: 0% 0% 0% 0%;
}
li {
    margin: 5px 0px;
}
td, th {
    line-height: 2em;
    text-align: center;
}
.content {
    font-size: 1.1em;
    background: white;
    width: 60%;
    margin-left : auto;
    margin-right: auto;
    padding: 3% 3% 3% 3%;
}
.bold {
    font: bold;
}
.red {
    color: red;
}