/*
<div class="warn-box">
    <p class="icon">！</p>
    <p class="text">ネタバレ注意</p>
</div>
*/
.warn-box {
    display: flex;
    align-items: center;
    padding: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0 0 5px #999;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    color: #333;
    gap: 0.5rem;
    line-height: 1.5;
    border-left: 5px solid #F29C33;
}
.warn-box .icon {
    color: #F29C33;
    font-size: 1.5em;
    font-weight: bolder;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
}
.warn-box .text {
    font-size: 1.5em;
    margin: 0 0 0 20px;
    padding: 0;
}